/* This makes it easier to style things including the nav bar*/
*{
box-sizing: border-box;
}

/* Body Styling */
body{
	background-color: #bde0eb;
	font-family: "courier";
	color: black;
}

/* Nav Bar Styling */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #d3d3d3;
}

.active {
  background-color: #89cff0;
}

/* Styling of the image on the homepage */
.homeImg {
  float:left;
  width: 25%;
}
